* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.features {
  padding: 100px 0;
}

.card-box {
  /* border: 5px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 64px 0;
}

.card-container {
  /* border: 5px solid green; */
  width: 30%;
  margin-bottom: 64px;
}

.card {
  /* border: 5px solid blue; */
  /* width: 80%; */
  width: 310px;
  text-align: center;
  margin: 0 auto;
}

.card > h3 {
  font-size: 18px;
}

.card > p {
  font-size: 14px;
}

.section-title,
.section-heading,
.section-paragraph {
  text-align: center;
}

.section-title {
  display: block;
}
/* 
/** // X-Small devices (portrait phones, less than 576px) */

@media (min-width: 0px) {
    .card-box{
        flex-direction: column;
    }
    .card-container {
        width: 100%;
    }
}


    
/* * / Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 
    .card-box{
        flex-direction: row;
        
    }
     .card-container {
        width: 50%;
        display: flex;
        justify-content: space-between;
     
    }
    .card{
        
        width: 100%;
            
        }
}

    

/* * / Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
    .card-container {
        width: 30%;
    }
 }
    
    
 

/* * // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/** // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }

