body{
    font-family:'Avenir' system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
p {
    line-height: 1.7;
}

.container{
    width: 70%;
    margin: 0 auto;
    
}
ul{
    list-style: none;
}

.list-item{
    padding: 10px;
    display: inline-block;
    /* border: 1px solid crimson; */
}

.sm-link{
    color: #222222;
    vertical-align: middle;
}
/* .sm-link:visited{
    color: green;} */
    
.sm-link:hover{
    color: #ed189f;    
}
.sm-link:focus{
    outline: 1px solid blue;
}

.sm-link:active{
    color: yellow;
}

.fa-instagram{
    font-size: 2.25rem;
}
.fa-x-twitter{
    font-size: 36px;
}
.fa-linkedin{
    font-size: 2.4375rem;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: rgb(28, 28, 28);
  }
} */
.playlist-list{
    display: flex;
    flex-wrap: wrap;
    
}
.playlist-list-item{
    width: auto;
    margin: 20px;

}
.album-card {
    border-radius: 2px;
    width: fit-content;
    border: 0.6px solid #ffffff;
    box-shadow: rgba(18, 132, 246, 0.2) 0px 8px 24px;
}
.album-card:hover{
    border: 0.6px solid #000;
  box-shadow: rgba(18, 132, 246, 0.2) 0px 8px 24px;

}


.playlist-item-link span {
    display: block;
   
}
.playlist-item-link{
    display: block;
    text-decoration: none;
    padding: 24px;
    /* border: 2px solid blue; */
}


/* .album-cover, .song-info {
    border: 2px dashed green;
    
} */

.song-info{
    margin-top: 10px;
}
.song-name {  
font-weight: 700;
color: #222222;

}
.artist {
    font-size: 12px;
    padding: 10px 0;
    font-weight: 500;
    color: #505050;
}

footer:hover{
    color: red;
    cursor: not-allowed;
}


